In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("torque/20230612020119_2.csv")
df.head()

,time,x,y,z,x^,y^,z^,x^^,y^^,z^^,phi,theta,psi,phi^,theta^,psi^,phi^^,theta^^,psi^^
0,0.000000,0.647217,0.191894,0.751465,NaN,NaN,NaN,NaN,NaN,NaN,-0.111177,-0.309098,0.141721,NaN,NaN,NaN,NaN,NaN,NaN
1,0.050003,0.512939,0.195068,0.778809,-2.685382,0.063474,0.546843,NaN,NaN,NaN,-0.180816,-0.387289,-0.174707,-1.392687,-1.563721,-6.328178,NaN,NaN,NaN
2,0.100006,0.588135,0.155273,0.854981,1.503814,-0.795851,1.523345,83.778819,-17.185463,19.528857,-0.000611,0.623693,-0.091630,3.603885,20.218407,1.661453,99.925343,435.615973,159.782870
3,0.150009,0.582275,0.159912,0.793945,-0.117181,0.092768,-1.220628,-32.417890,17.771292,-54.876066,-0.021991,0.471588,-0.056200,-0.427579,-3.041919,0.708560,-80.624282,-465.177681,-19.056678
4,0.200012,0.628662,0.168213,0.818848,0.927678,0.166006,0.498018,20.895928,1.464668,34.370867,-0.037874,0.251677,-0.002443,-0.317631,-4.397966,1.075058,2.198837,-27.119307,7.329528

In [15]:
# sqrt((phi^^)^2 + (theta^^)^2 + (psi^^)^2) 으로 새로운 열 추가
df['omega'] = (df['phi^']**2 + df['theta^']**2 + df['psi^']**2)**0.5
df.head()

,time,x,y,z,x^,y^,z^,x^^,y^^,z^^,phi,theta,psi,phi^,theta^,psi^,phi^^,theta^^,psi^^,omega
0,0.000000,0.647217,0.191894,0.751465,NaN,NaN,NaN,NaN,NaN,NaN,-0.111177,-0.309098,0.141721,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.050003,0.512939,0.195068,0.778809,-2.685382,0.063474,0.546843,NaN,NaN,NaN,-0.180816,-0.387289,-0.174707,-1.392687,-1.563721,-6.328178,NaN,NaN,NaN,6.665631
2,0.100006,0.588135,0.155273,0.854981,1.503814,-0.795851,1.523345,83.778819,-17.185463,19.528857,-0.000611,0.623693,-0.091630,3.603885,20.218407,1.661453,99.925343,435.615973,159.782870,20.604184
3,0.150009,0.582275,0.159912,0.793945,-0.117181,0.092768,-1.220628,-32.417890,17.771292,-54.876066,-0.021991,0.471588,-0.056200,-0.427579,-3.041919,0.708560,-80.624282,-465.177681,-19.056678,3.152484
4,0.200012,0.628662,0.168213,0.818848,0.927678,0.166006,0.498018,20.895928,1.464668,34.370867,-0.037874,0.251677,-0.002443,-0.317631,-4.397966,1.075058,2.198837,-27.119307,7.329528,4.538584

In [16]:
# sqrt((phi^^)^2 + (theta^^)^2 + (psi^^)^2) 으로 새로운 열 추가
df['omega2'] = (df['phi^^']**2 + df['theta^^']**2 + df['psi^^']**2)**0.5
df.head()

,time,x,y,z,x^,y^,z^,x^^,y^^,z^^,...,theta,psi,phi^,theta^,psi^,phi^^,theta^^,psi^^,omega,omega2
0,0.000000,0.647217,0.191894,0.751465,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.309098,0.141721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.050003,0.512939,0.195068,0.778809,-2.685382,0.063474,0.546843,NaN,NaN,NaN,...,-0.387289,-0.174707,-1.392687,-1.563721,-6.328178,NaN,NaN,NaN,6.665631,NaN
2,0.100006,0.588135,0.155273,0.854981,1.503814,-0.795851,1.523345,83.778819,-17.185463,19.528857,...,0.623693,-0.091630,3.603885,20.218407,1.661453,99.925343,435.615973,159.782870,20.604184,474.633454
3,0.150009,0.582275,0.159912,0.793945,-0.117181,0.092768,-1.220628,-32.417890,17.771292,-54.876066,...,0.471588,-0.056200,-0.427579,-3.041919,0.708560,-80.624282,-465.177681,-19.056678,3.152484,472.497308
4,0.200012,0.628662,0.168213,0.818848,0.927678,0.166006,0.498018,20.895928,1.464668,34.370867,...,0.251677,-0.002443,-0.317631,-4.397966,1.075058,2.198837,-27.119307,7.329528,4.538584,28.178249

사용 공식

\begin{align*}
a_{elbow} &= A - \dot{\omega} \times L - \omega \times (\omega \times L) - g \\
a_{com} &= a_{elbow} + COM(\dot{\omega} \times L) + \omega \times COM(\omega \times L) \\
T_{elbow} &= I_{forearm} \dot{\omega} + COM[L \times (m_{forearm} a_{com} - m_{forearm} g)]
\end{align*}

가정값

\begin{align*}
A = 287.07 m/s² \\

I_{forearm} = 0.02 kg.m²\\

COM = 0.3384m \\

g = 9.8m/s² \\

L = 0.29m \\

m_{forearm} = 3.5kg \\ 
\end{align*}

In [18]:
# a elbow 열 추가
df['a elbow'] = 287.07 - df['omega'] * 0.5 - df['omega2']**2 * 0.29 - 9.8

In [21]:
df['a com'] = df['a elbow'] + 0.3384 * df['omega2']**2 * 0.29 + 0.29 * df['omega']**2 * 0.3384

In [23]:
df['torque'] = 0.02 * df['omega2'] + 0.3384 * 0.29 * (df['a com'] - 9.8) * 2

In [24]:
df.head()

,time,x,y,z,x^,y^,z^,x^^,y^^,z^^,...,theta^,psi^,phi^^,theta^^,psi^^,omega,omega2,a elbow,a com,torque
0,0.000000,0.647217,0.191894,0.751465,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.050003,0.512939,0.195068,0.778809,-2.685382,0.063474,0.546843,NaN,NaN,NaN,...,-1.563721,-6.328178,NaN,NaN,NaN,6.665631,NaN,NaN,NaN,NaN
2,0.100006,0.588135,0.155273,0.854981,1.503814,-0.795851,1.523345,83.778819,-17.185463,19.528857,...,20.218407,1.661453,99.925343,435.615973,159.782870,20.604184,474.633454,-65063.337652,-42913.900341,-14733.768229
3,0.150009,0.582275,0.159912,0.793945,-0.117181,0.092768,-1.220628,-32.417890,17.771292,-54.876066,...,-3.041919,0.708560,-80.624282,-465.177681,-19.056678,3.152484,472.497308,-64467.881068,-42557.680056,-14611.457834
4,0.200012,0.628662,0.168213,0.818848,0.927678,0.166006,0.498018,20.895928,1.464668,34.370867,...,-4.397966,1.075058,2.198837,-27.119307,7.329528,4.538584,28.178249,44.736736,124.679543,40.021931

In [26]:
# 행 수 계산
df.shape[0]

523

토크 기준

injured = 98.8
non-unjured = 91.4

In [27]:
# torque 열 중 90 미만의 행 제거
df2 = df[df['torque'] >= 90]

In [28]:
df2.head()

,time,x,y,z,x^,y^,z^,x^^,y^^,z^^,...,theta^,psi^,phi^^,theta^^,psi^^,omega,omega2,a elbow,a com,torque
312,15.60095,0.704346,0.426025,0.558594,0.20996,0.048828,0.004884,6.44528,2.4414,-2.63668,...,0.024435,-0.171042,-1.221732,0.977384,-5.131269,0.289372,5.364497,268.779744,271.612102,90.033464